body {
    background: url("assets/img/background.png")

}

.card {
    width: 20%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    
}

.phone{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.samsung{
    width: 500px;
}

.img-logo{
    margin: 0 auto;
    width: 80%;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 0;
}